body,
html {
  margin: 0;
  height: 1550vh;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-y: scroll;
}

h1,
h2 {
  font-weight: 700;
}

.scroller::-webkit-scrollbar {
  background-color:transparent;
  width:6px
}
.scroller::-webkit-scrollbar-track {
  background-color:transparent
}
.scroller::-webkit-scrollbar-track:hover {
  background-color:transparent;
}

.scroller::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:3px;
}
.scroller::-webkit-scrollbar-thumb:hover {
  background-color:#939396;
}
.scroller::-webkit-scrollbar-button {display:none}

.shoe-name {
  width: auto;
  display: block;
  font-size: 55px;
  margin: 0;
  text-transform: uppercase;
  line-height: 55px;
  letter-spacing: 1.2px;
  transition:opacity .4s ease-in;
}

.shoe-year {
  width: auto;
  display: block;
  font-size: 110px;
  margin: 0;
  margin-left: -15px;
  margin-top: -20px;
  color: #fff;
}

.shoe-description {
  color: #fff;
}

#container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 2rem;
  grid-row: 2;
  overflow: visible;
}

.main {
  width: 100%;
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 0;
  margin: 0;
  height: 100vh;
  transition: all .3s ease;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 65% 20%;
}

.scroll-container-wrapper {
  position: fixed;
  width: 80%;
  height: 100vh;
  top: 0;
  right: 0;
  overflow-y: scroll;
  max-height: 100%;
  scroll-snap-type: y mandatory;
  z-index: 5;
  
  
}
.scroll-container-wrapper::-webkit-scrollbar {
  display: none;
}

.scroll_container {
  width: 100%;
  background-color: transparent;
  height: 100vh;
  scroll-snap-align: center ;
  scroll-snap-stop: always;
  background: transparent;
  
}
.scroll_container:last-of-type {
  margin-bottom: 30vh;
}
.scroll_container:first-of-type {
  padding-top: 50vh;
}
.header-container {
  width: 100%;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 10%;
  padding-top: 5%;
}

.bottom-container {
  width: 100%;
  grid-row: 3;
  background-color: #383838;
  display: grid;
  grid-template-columns: 50% 20%;
  grid-column-gap: 10%;
  padding: 3% 10%;
}

.bottom-container__description {
  width: 100%;
}

.bottom-container__description p{
  margin-bottom: -10%;
  padding-bottom: 15%;
}
p{
  margin-top: 0;
}

.bottom-container__colorway {
  width: 100%;
  color: #fff;
}

.bottom-container__colorway-colors {
  display: flex;
}

.colorway-cirlce {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 15px;
}

button {
  display: block;
}

@keyframes slide-top {
  0% {

    transform: translateY(-200px);
  }

  100% {

    transform: translateY(0px);
  }
}

.slide-in-top {

  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

/* Loading-screen */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1c1c1c;
  z-index: 999;
}

.loading-display-none {
  display: none;
}

.lds-ring {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #FF6600;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #FF6600 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/********************** Timeline *******************/
img {
  width: 100%;
}

/* * {
  border: 1px solid green;
} */


.container {
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
  background-color: #202020;
}

.container__timeline {
  font-size: 62.5%;
  width: 20%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  transition: all 0.4s ease-in-out;
  transform: translateX(-70%);
  z-index: 100;
}

.timeline__box {
  height: 86vh;
  padding: 7vh 10%;
  width: 80%;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  overflow: hidden;
  background-color: #202020;
  transition: all 0.4s ease-in-out;
  transform: translateX(-100%);
}

.timeline__arrow {
  display: grid;
  grid-template-columns: 30% 80%;
  justify-items: center;
  align-items: center;
  background-color: #202020;
  z-index: 2;
  cursor: pointer;
}

.timeline__arrow img {
  width: 50%;
}

.flipped {
  transform: rotate(180deg);
}

.timeline__scroll {
  overflow-y: scroll;
  height: 100%;
  position: relative;
/*   scroll-snap-type: y mandatory;
  scroll-behavior: smooth; */

}

.timeline__line {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  text-align: center;
  display: grid;
  justify-items: center;
}

.timeline__line div {
  position: absolute;
  background-color: rgb(65, 65, 65);
  width: 3px;
  height: 100%;
}

.timeline__items {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.timeline__item {
  scroll-snap-align: start;
  position: relative;
  display: flex;
  height: 10vh;
  margin: 30% 0;
  justify-items: center;
  align-items: center;
  background-color: #202020;
  z-index: 3;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.timeline__item--first {
  margin-bottom: 0;
  margin-top: -10%;
  padding-top: 50%;
}

.timeline__item--last {
  margin-top: 0;
  margin-bottom: -10%;
  padding-bottom: 50%;
}

.timeline__item__mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.timeline__item__year {
  transition: all 0.4s ease-in-out;
  width: 30%;
  text-align: center;
  font-size: 17px;
}

.timeline__item__img {
  width: 70%;
  padding-left: 15%;
}

.timeline__item__img img {
  width: 60%;
  transition: all 0.4s ease-in-out;
}

.timeline__item.active{
  /* border: 1px solid green; */
}

.timeline__item.active .timeline__item__year {
  transform: scale(1.3);
  font-weight: 600;
}

.timeline__item.active .timeline__item__img img {
  transform: scale(1.5) rotate(-10deg);
}

.timeline__item:hover .timeline__item__year {
  transform: scale(1.3);
}

.timeline__item:hover .timeline__item__img img {
  transform: scale(1.4) rotate(-7deg);
}

/* MENU */
.hamburger {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 7%;
  transform: translateY(-50%);
  right: 10%;
  transition-duration: 0.3s;
  cursor: pointer;
  z-index: 10;
}

span,
span:before,
span:after {
  position: absolute;
  left: 0;
  width: 100%;
  transition-duration: 0.3s;
  background-color: black;
  border-radius: 0.3rem;
  background-color: rgb(65, 65, 65);
}

span {
  height: 0;
  top: 50%;
  transform: translateY(-50%);
}

span:before {
  height: 0.2rem;
  content: "";
  top: -0.5rem;
}

span:after {
  height: 0.2rem;
  content: "";
  top: 0.5rem;
}

.container.open .container__timeline span:before {
  transform: rotate(135deg) scaleX(1.25);
  top: 0;
  background-color: #202020;
}

.container.open .container__timeline span:after {
  top: 0;
  transform: rotate(-135deg) scaleX(1.25);
  background-color: #202020;
}

.container.open .timeline__box {
  transform: translateX(0);
}

.container.open .container__timeline {
  transform: translateX(0);
}

.container.open .main {
  width: 80%;
}

@media (max-width: 900px) {
  .main {
    grid-template-rows: 10% 55% 35%;
  }

  .header-container {
    width: 67%;
    padding-left: 20%;
    padding-right: 13%;
    padding-top: 7.5%;
  }

  .shoe-name {
    font-size: 35px;
    text-align: right;
  }
  
  .shoe-year {
    font-size: 70px;
    text-align: right;
  }

  .scroll-container-wrapper {
    width: 100%;
  }

  .bottom-container {
    grid-template-columns: 1fr;
    padding: 7% 8%;
  }

  .bottom-container__description {
    font-size: 14px;
    width: 84%;
  }
  .bottom-container__colorway {
    width: 84%;
    font-size: 16px;
  }


  .container.open .container__timeline span:before {
    background-color: white;
  }
  
  .container.open .container__timeline span:after {
    background-color: white;
  }

  .hamburger {
    display: block;
  }

  .container__timeline {
    width: 75%;
  }

  .container.open .main {
    width: 100%;
  }
}